body {
    background-color: #8d6262;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #6a392e;
    text-align: middle;
    font-size: 32px;
}

p {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 30px;
    font-size: 16px;
}

a {
    color: #0073e6;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 20px auto;
    border: 3px solid #5a3e1b;
}
